.form {
    display: flex;
    flex-basis: 700px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin: auto;
    font-weight: 500;
}

.form__fieldset {
    border: solid 1px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: hsl(0, 24%, 89%);
}

.form__legend {
    border: solid 2px;
    border-radius: 5px;
    padding: 8px;
    font-size: x-large;
    background-color: hsl(0, 24%, 89%);
}

.form__label {
    padding: 20px;
    font-weight: 600;
}

.form__input {
    border-radius: 5px;
    border: solid 1px;
    padding: 5px;
}

.form__input:hover {
    background-color: hsl(0, 0%, 76%);
}

.form__button {
    border-radius: 5px;
    border: solid 1px;
    padding: 10px;
    font-weight: 600;
}

.form__button:hover {
    background-color: hsl(0, 0%, 76%);
}

.form__paragraph {
    font-size: larger;
}

.form__paragraph--smaller {
    font-size: small;
    font-style: italic;
}