html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #160d0d;
  font-size: large;
  padding: 10px;
  background-image: url(../public/money2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}